body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    background-color: floralwhite;
}

h1 {
    text-align: center;
    background-color: lightpink;
    border: lightgreen dotted 10px;
    border-radius: 15px;
    margin: 50px 280px 50px 280px;
    color: floralwhite;
}

.gamestats {
    text-align: center;
    background-color: lightgreen;
    border: lightpink solid 5px;
    border-radius: 10px;
    margin: 0px 800px 0px 300px;
    padding-bottom: 15px;
}

.gamestats p {
    background-color: lightpink;
    border: lightpink solid 1px;
    border-radius: 5px;
    color: floralwhite;
    font-size: x-large;
    
}

.gamestats img {
    width: 50px;
    height: 60px;
}

.slots {
    margin-left: 325px;
}

.slots img {
    width: 120px; 
    height: 80px;
}

.locking {
    display: inline;
    padding: 20px;
    position: relative;
    left: 315px;
}


.prizes {
    margin-right: 300px;
    background-color: lightgreen;
    border: lightpink solid 5px;
    border-radius: 10px;
    float: right;
    position: relative;
    bottom: 550px;
    left: 50px;
}

.prizes div {
    border: lightpink solid 3px;
}

#playbtn {
    background-color: lightgreen;
    border: lightpink solid 4px;
    border-radius: 5px;
    color: floralwhite;
    padding: 15px 32px;
    text-align: center;
    font-size: 32px;
    margin-left: 800px;
    position: absolute;
    top: 485px;
    left: 50px;
}

.win {
    z-index: 1;
    top: 200px;
    left: 850px;
    display:none;
    position: fixed;
    background-color: lightgreen;
    border: lightpink 10px double;
    border-radius: 5px;
    color: floralwhite;
}

.lose {
    z-index: 1;
    top: 200px;
    left: 850px;
    display:none;
    position: fixed;
    background-color: lightpink;
    border: lightgreen 10px double;
    border-radius: 5px;
    color: floralwhite;
}